{% extends "layout.html" %}
{% block content %}
    <div class="">
        <h1>We are BidAStartup</h1>
        <p>Our main goal is to uplift Africa and the world by providing and easy way for young 
            entrepreneurs and investors to connect and grow. We may not have been here for a long time
            but we are certainly who you have been waiting for, jump on and be who you were meant to be, it's free and easy.
        </p>
    </div>
    <div class="showcase">
        <div class="flex-row">
            <h3>We have done our research to help you</h3>
            <p>To make sure you have the best chances of succeeding, we have done our research on what to help you with and how.
                You wondering how all of this works? well, easy, we have it here for you &larr;
            </p>
        </div>
        <div class="flex-col">
            <div class="shadow-sm about-card">
                <h2>Get your business approved by us</h2>
                <p>First step is for us to look through your business plan thouroughly, everything, from finances/expected finances, business partners, yourself, your projected achievements and all the businessy biz.
                    should we find this satisfactory then you move on to the next step, if not, then we are obligated to assist you in every way and offer advice on how to get everything right.
                </p>
            </div>
            <div class="shadow-sm about-card">
                <h2>Approved? Get all your docs ready</h2>
                <p>
                    Ones you get approval, we want all the documents, including yours, Identification, contact details, tax details, physical address, your business number, your business contact details, your partners contact details
                    . All these must be certified and approved at the local Police seating.
                </p>
            </div>
            <div class="shadow-sm about-card">
                <h2>Suit up, you have an interview</h2>
                <p>
                    After all that hassle, we are now a bit confident about who you really might be
                    now we need you to attend this video interview, this one especially has to be live 
                    with one of our consultants. Here we hear all about you and you us, you a dog or cat person?
                    or you like birds? what is your favourite colour?. 
                </p>
            </div>
            <div class="shadow-sm about-card">
                <h2>Final step is your business</h2>
                <p>
                    Now we are fully acquainted, we would like you to boast and sell your business to our
                    pool of investors, this one you can choose from one of two, by video call or by recorded video.
                    If you feel confident with a few, you can ask them to stay behind and negotiate or if none apetise your business
                    idea, you can reject and ask for another bidding.
                </p>
            </div>
        </div>
       <h3>sounds easy right? and fun, give it a go 
    </div>
{% endblock content%}