{% extends "layout.html" %}
{% block content %}
    <div class="flex-col shadow-sm">
        <h2>Invest in your potential</h2>
        <span>Invest in Africa</span>

        <p>Africa is a gold mine for business and growth
            The need for new and hungry business minded people,
            The beautiful continent provides many opportunities
            to all who can see and embrace them. You could be the one
            to put Africa where it needs to be by caltivating 
            its spoils and showing it to the world.
        </p>
    </div>
    <div class="showcase">
        <div class="selling-point">
            <h2>Get your business funded</h2>
            <p>We provide the platform needed by most upcoming entrepreneurs to meet with potential investors and their mentors in business.</p>
            <p>You have a business you want to get funded or need mentorship? we are here for you, literally, for you and investors.</p>
        </div>
        <div class="card_flash flex-row">
            <div class="us">
            </div>
            <div class="offers flex-col">
                <div class="card">
                    <h2>Easy to get started</h2>
                    <p>Because we are so hard on security and identity theft, we 
                        need to verify your documents so we make sure it is you and 
                        you are legit, so we need a few documents from you
                    </p>
                </div>
                <div class="card counter">
                    <h2>Get better prep</h2>
                    <p>We have very serious people waiting on the next biggest thing and person to mould, our video tutorials on how to catch the biggest and best whales are always on the tap</p>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    <content class="testimonies flex-row">
        <div class="user-card flex-row">
            <div class="user-testimony">
                <div class="testimony-header">
                    <h3 class="secondary-header">Emily Bronze</h3>
                    <span><blockquote>Ease of use and friendly</blockquote></span>
                </div>
                <div class="testimony">
                    <p>I found the website intuitive and easy to use, it had
                        almost everything I needed, maybe intergrate a Dashboard
                    </p>
                    <span><blockquote>--Dashboard service would be nice</blockquote></span>
                </div>
            </div>
        </div>
        <div class="user-card">
            <div class="user-testimony">
                <div class="testimony-header">
                    <h3 class="secondary-header">Emily Bronze</h3>
                    <span><blockquote>Ease of use and friendly</blockquote></span>
                </div>
                <div class="testimony">
                    <p>I found the website intuitive and easy to use, it had
                        almost everything I needed, maybe intergrate a Dashboard
                    </p>
                    <span><blockquote>--Dashboard service would be nice</blockquote></span>
                </div>
            </div>
        </div>
    </content>
{% endblock content %}
       
